<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Shooping list</title>
</head>
<body>
    <h1>Shopping List</h1>
    <ul>
        {% for item in list %}
            <li>
                <form action="/complete">
                <input type="checkbox" name="id" value="{{ item.id }}" onchange="this.form.submit()">
                    {{ item.name }}
                </form>
            </li>
        {% endfor %}
    </ul>
    <form action="/" method="post">
        <label for="item">Add item:</label>
        <input type="text" id="item" name="item">
        <input type="submit" value="Add">
    </form>
</body>
</html>